.navegacion {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containLogo {
    height: 100%;
    display: flex;
    align-items: center;
}

.containLogo .logo {
    max-width: 40%;
    cursor: pointer;
}

.containLogo p {
    font-size: 2rem;
    font-weight: 700;
}

.containMenu {
    height: 100%;
}

.containMenu a {
    margin-left: 1.2rem;
    font-family: Roboto;
    color: #FFf;
    text-decoration: none;
    text-transform: capitalize;
    font-size: .9rem;
    display: inline-block;
}

.linea {
    height: .2rem;
    background-color: #FFF;
    margin: 0 auto;
    width: 0;
    transition: 400ms;
}

.containMenu a:hover .linea {
    width: 100%;
}


/* Header  */

.side-header {
    width: 100%;
    height: 100vh;
    background: url("../../images/headerbg.jpg")no-repeat;
    background-size: cover;
}

.degradado {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido-header {
    width: 100%;
    height: 100%;
    display: inherit;
    justify-content: inherit;
    align-items: center;
    flex-direction: column;
}
.btnAnimado{
    transition: 500ms;
}
.btnAnimado:hover
{
  background: #FFf;
  color: #b900b4;
}
.containerButtons {
    margin: 1rem 0;
}
.btnInicio
{
    display: block;
    text-align: center;
    text-decoration: none;
}

@media (max-width:480px) {
    .side-header {
        height: 100vh;
    }
    h1 {
        text-align: center;
        font-size: 2rem;
    }
    .navegacion {
        display: block;
    }
    .containMenu {
        display: none;
    }
    .containLogo {
        justify-content: center;
    }
}

