* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


/* Utilidades  */

.centrar-texto {
  text-align: center;
}

.contenedor {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

h1 {
  font-family: "Lato";
  color: #FFF;
  font-size: 4rem;
  text-transform: capitalize;
}

h2 {
  font-family: "Lato";
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  font-weight: 700;
  padding-bottom: 4rem;
}

h3 {
  font-size: 1.4rem;
  font-family: "Lato";
  font-weight: 400;
  text-transform: capitalize;
}

h4 {
  font-size: 1.6rem;
  font-family: "Lato";
  text-transform: capitalize;
  width: 70%;
}

p {
  font-family: "Roboto";
  color: #FFF;
  padding: 1rem 0;
}

.btn {
  width: 10rem;
  font-family: "Roboto";
  padding: 1rem;
  border: 1px solid #FFF;
  border-radius: 50px;
  background: transparent;
  outline: 0;
  color: #FFF;
  font-weight: 700;
  font-size: .8rem;
  cursor: pointer;
}

.color1 {
  color: gray;
}

